.hero{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-inner{
  position: relative;
  width: 100%;
  text-align: center;
  padding: 20px 20px 80px;
  h2{
    margin-top: clamp(2px, 0.5vh, 20px);
    @include respond-to(sm){
      margin-top: 24px;
    }
  }
  .subheading{
    max-width: clamp(480px, 62vh, 900px);
    margin: 0 auto;
  }
  .btn{
    margin-top: clamp(32px, 6vh, 96px);;
  }
}
.hero-img{
  margin: 40px auto;
}

.hero-img-wrap{
  max-width: 120px;
  margin: 40px auto;
  filter: blur(0.2px);
  transform: translate3d(0, 0, 0);
}
.hero-img-inner{
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  overflow: hidden;
  background: linear-gradient(151.99deg, rgba(17, 212, 196, 0.017) 13.62%, rgba(17, 186, 212, 0.17) 83.75%);
}
.hero-img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  display: block;
  mix-blend-mode: luminosity;
}
