//--- Fonts Variables
$icon-font: 'Nucleo';
$main-font: 'Inter', sans-serif;
$heading-font: 'Space Grotesk', sans-serif;

$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;
$weight-black: 900;

$font-size: 16;
