<section class="hero">
  <div class="hero-inner">
    <h1>The Deck</h1>
    <h2>Shmuel Barkin</h2>
    <div class="hero-img-wrap">
      <div class="hero-img-inner">
        <img class="hero-img" src="assets/images/shmuel_barkin.png" alt="">
      </div>
    </div>
    <div class="subheading">
      A visual presentation of skills and the role played in a business & software project.
    </div>
    <a href="#skills" class="btn btn--default btn--move">Check this out! <i class="icon icon-arrow-down-1"></i></a>
  </div>
</section>
