<section class="skills">
  <div class="container">
    <h3 class="text-center">Skills by Business Anatomy</h3>
    <div class="skills-grid mt-32">
      <div class="skills-inner-grid">
        <div class="skills-block skills-block--pale">
          <h4>Strategic</h4>
          <div class="skills-block__body">
            <ul class="list">
              <li>Business Strategy</li>
              <li>Marketing Strategy</li>
            </ul>
          </div>
        </div>

        <div class="skills-block skills-block--pale">
          <h4>Negotiation</h4>
          <div class="skills-block__body">
            <ul class="list">
              <li>Sales</li>
              <li>Procurement</li>
              <li>Contracts</li>
              <li>Salaries</li>
            </ul>
          </div>
        </div>

        <div class="skills-block skills-block--pale">
          <h4>Administrative</h4>
          <div class="skills-block__body">
            <ul class="list">
              <li>HR</li>
              <li>Managing People</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="skills-block">
        <h4>Creative</h4>
        <div class="skills-block__body">
          <ul class="list list--rated list--teal">
            <li class="medium">Product Ideas</li>
            <li class="high">Product Features</li>
          </ul>

          <ul class="list list--rated list--teal">
            <li class="high">Problem Solving</li>
            <li class="high">Automation & Innovation</li>
            <li class="high">Processes Improvement</li>
          </ul>

          <ul class="list list--rated list--teal">
            <li class="medium">Product UX</li>
            <li class="medium">Product UI</li>
          </ul>

          <ul class="list list--rated list--teal">
            <li class="low">Branding Assets</li>
            <li class="low">Marketing Assets</li>
          </ul>
        </div>
      </div>

      <div class="skills-block">
        <h4>Execution</h4>
        <div class="skills-block__body">
          <ul class="list list--rated list--teal">
            <li class="high">Business Analysis</li>
            <li class="high">Project Planning</li>
            <li class="high">Project Management</li>
            <li class="high">Product Ownership</li>
            <li class="high">Communication</li>
            <li class="high">Coordination</li>
          </ul>

          <ul class="list list--rated list--teal">
            <li class="high">Implementing Systems & Process</li>
          </ul>

          <ul class="list list--rated list--teal">
            <li class="high">Documentation</li>
            <li class="high">Quality Assurance</li>
            <li class="low">Development</li>
            <li class="low">DevOps</li>
            <li class="low">IT Infrastructure</li>
          </ul>

          <ul class="list list--rated list--teal">
            <li class="high">Knowledge Base</li>
            <li class="medium">Customer Service</li>
          </ul>

          <ul class="list list--rated list--teal">
            <li class="high">Reporting</li>
            <li class="medium">Bookkeeping</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
