<section class="skills">
  <div class="container">
    <h3 class="text-center">Skills by Software Development Life Cycle</h3>
    <div class="skills-block skills-block--large mt-32">
      <div class="software-grid">
        <div>
          <h4>Business Analysis</h4>
          <div class="skills-block__body">
            <ul class="list list--rated list--aqua">
              <li class="high">Requirements Solicitation</li>
              <li class="high">Process Mapping</li>
              <li class="high">Complex Systems Simplification</li>
              <li class="high">Creative Problem Solving</li>
              <li class="high">Architecting Automated Solutions</li>
              <li class="high">Architecting Improved Processes </li>
            </ul>
          </div>
        </div>

        <div>
          <h4>Design</h4>
          <div class="skills-block__body">
            <ul class="list list--rated list--aqua">
              <li class="medium">UX Design</li>
              <li class="medium">UI Design</li>
              <li class="medium">Responsive Design</li>
              <li class="medium">Design Systems</li>
            </ul>

            <ul class="list list--rated list--aqua">
              <li class="low">Branding, Color Theory, Typography, Iconography, Illustration</li>
            </ul>

            <ul class="list list--rated list--aqua">
              <li class="medium">Figma, Sketch, XD, Illustrator, InDesign</li>
            </ul>
          </div>
        </div>

        <div>
          <h4>Develop</h4>
          <div class="skills-block__body">
            <ul class="list list--rated list--aqua">
              <li class="low">Database Architecture</li>
              <li class="low">Software Architecture</li>
              <li class="low">Build</li>
              <li class="low">Test</li>
              <li class="low">Deploy</li>
              <li class="low">Maintain</li>
            </ul>

            <ul class="list list--rated list--aqua">
              <li class="low">CI/CD, DevOps, SQL,Python, PHP, Laravel, CSS, SASS, Vue, JS, GraphQL, PWA, SPA, Docker, GIT, CLI, AWS, Netlify...</li>
            </ul>
          </div>
        </div>

        <div class="grid-full-width">
          <h4>Project Management</h4>
          <div class="skills-block__body">
            <ul class="list list--rated list--aqua">
              <li class="high">Requirements, Documentation , Communication, Coordination, Product Ownership, Quality Assurance, Acceptiance Testing, Agile, Kanban, GitHub, BitBucket, JIRA, Confluence, YouTrack...</li>
              <li><i class="icon icon-cycle"></i> The entire software development life cycle stays in an air tight container with nothing getting lost in translation.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
