body{
  background: $color-black;
}

.container{
  max-width: map-get($container-media-list, lg);
  margin: 0 auto;
  padding-left: $font-size * 1.25px;
  padding-right: $font-size * 1.25px;
  position: relative;
}

.row{
  &.gutter-72{
    @include respond-to(lg_up){
      margin-left: -36px;
      margin-right: -36px;
      & > [class^="col"],
      & > [class*=" col"] {
        padding-right: 36px;
        padding-left: 36px;
      }
    }
  }
}

.skills {
  padding: 28px 0 80px;
  h3{
    position: sticky;
    z-index: 2;
    top: 108px;
    padding: 8px 56px;
    background: $color-black;
    transition: 200ms;
    top: 0;
    &.sticky-active{
      top: 108px;
    }
    @include respond-to(md){
      top: 132px;
    }
    @include respond-to(sm){
      top: 0;
    }
  }
  &:last-of-type{
    min-height: calc(100vh + 28px);
  }
}

.skills-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 72px;
  @include respond-to(md){
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 32px;
    grid-column-gap: 32px;
  }
  @include respond-to(sm){
    grid-template-columns: auto;
  }
}

.software-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 32px;
  @include respond-to(md){
    grid-template-columns: auto;
  }
}

.grid-full-width{
  grid-column: 1 / span 3;
  @include respond-to(md){
    grid-column: auto;
  }
}

.skills-inner-grid{
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 24px;
  @include respond-to(md){
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / span 2;
    grid-template-rows: auto;
    grid-column-gap: 32px;
  }
  @include respond-to(sm){
    grid-column: auto;
    grid-template-columns: auto;
  }
}

.skills-block {
  background: rgba($color-white, 0.08);
  border-radius: $border-radius-default;
  box-shadow: $shadow-100;
  padding: 16px 16px 24px;
  transition: 200ms;
  overflow: hidden;
  &--pale{
    h4, ul{
      color: rgba($color-white, 0.7);
    }
  }
  &--large{
    padding: 32px;
    @include respond-to(sm){
      padding: 16px 16px 24px;
    }
  }
  h4{
    text-align: center;
    padding: 12px 16px;
    background: rgba($color-white, 0.1);
    border-radius: $border-radius-default;
  }
	&__body {
    padding: 16px 8px 0 24px;
	}
}

.skill-keys{
  padding: 12px 0 0;
  z-index: 3;
  position: sticky;
  top: 0;
  transition: 200ms;
  @include respond-to(sm){
    padding-bottom: 12px;
  }
  &.sticky{
    .skills-block{
      transform: translateY(-110%);
    }
    .trigger-keys{
      opacity: 1;
      transform: none;
      pointer-events: auto;
    }
  }
  &.sticky-active{
    .skills-block{
      transform: none;
    }
  }
  &.sticky-active.sticky{
    .skills-block{
      &:after{
        background: rgba($color-white, 0.12);
        box-shadow: inset 0 0 2000px rgba($color-teal, 0.08);
      }
    }
  }
  .trigger-keys{
    position: absolute;
    right: 32px;
    top: 12px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(200%);
    transition: 200ms;
    z-index: 3;
    &:before{
      content: "\ea16";
      font-family: $icon-font;
    }
    &:after{
      content: "\ea15";
      font-family: $icon-font;
      transform: translate(-50%, -50%) scale(0);
      position: absolute;
      top: 50%;
      left: 50%;
      transition: 200ms;
    }
    &.sticky-active{
      &:after{
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }
  .skills-block{
    position: relative;
    z-index: 2;
    overflow: visible;
    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: -12px;
      width: 100%;
      height: calc(100% + 24px);
      background: $color-black;
      transition: inherit;
    }
    &:after{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba($color-white, 0.08);
      transition: inherit;
      border-radius: $border-radius-default;
    }
    @include respond-to(sm){
      padding-left: 12px;
      padding-right: 40px;
      padding-top: 14px;
    }
    ul{
      text-align: center;
      position: relative;
      z-index: 2;
      @include respond-to(md){
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      @include respond-to(sm){
        align-items: flex-start;
        text-align: left;
      }
      li{
        display: inline-block;
        margin: 0 16px;
      }
    }
  }
}

#skills{
  height: 1px;
}
